<h1>API docs</h1>

<table>
    <th>
        <td>Route</td>
        <td>Verb</td>
        <td>Description</td>
    </th>
    <tr>
        <td>/api/levels</td>
        <td>Get</td>
        <td>Get all levels</td>
    </tr>
    <tr>
        <td>/api/levels</td>
        <td>Post</td>
        <td>Create new level</td>
    </tr>
    <tr>
        <td>/api/levels/:level_id</td>
        <td>Get</td>
        <td>Retrieve a single level</td>
    </tr>
    <tr>
        <td>/api/levels/:level_id</td>
        <td>Put</td>
        <td>Update a level</td>
    </tr>
    <tr>
        <td>/api/levels/:level_id</td>
        <td>Delete</td>
        <td>Delete a level</td>
    </tr>
</table>
